* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

header nav ul, header h1, .contentWrapper, footer p {
	max-width: 1200px;
	margin: 0 auto;
}

.side1 {
	float: left;
	width: 20%;
	padding-right: 10px;	
}
.main {
	float: left;
	width: 60%;
	border: 1px dashed black;
	border-top: none;
	border-bottom: none;
	padding: 0 10px;
}
.side2 {
	padding-left: 10px;
	float: left;
	width: 20%;	
}

footer {
	clear: both;
}	